* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3c3e44;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.App {
    width: 90%;
    max-width: 350px;
    background-color: #23252C;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
}

.info {
    line-height: 1.5rem;
}

.info h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.info h3 {
    font-size: 1.2rem;
    color: rgba(236, 236, 67, 0.747);
    margin-top: 0.5rem;
    font-style: italic;
}

.info a {
    color: rgb(228, 210, 210);
    font-size: 0.9rem;
    margin-top: 0.75rem;
}
.info a:hover{
    color:rgb(102, 196, 233) ;
    cursor: pointer;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    
}

.button1,
.button2 {
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
}

.button1:hover,
.button2:hover {
    opacity: 0.5; 
    cursor: pointer; 
}
.button1 i,
.button2 i {
    margin-right: 8px;
}

.button2 {
    background-color: rgb(49, 153, 194);
    color: white;
}

.about,
.interest {
    margin: 15px 0;
}

.about h1,
.interest h1 {
    color: white;
    font-size: 1.5rem;
}

.about p,
.interest p {
    margin-top: 0.5rem;
    color: white;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.foot {
    margin-top: 45px;
    background-color: #17181d;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot img {
    width: 40px;
}

@media (max-width: 600px) {
    .App {
        width: 95%;
    }

    .info h2 {
        font-size: 1.3rem;
    }

    .info h3 {
        font-size: 1rem;
    }

    .info p {
        font-size: 0.8rem;
    }

    .about h1,
    .interest h1 {
        font-size: 1.3rem;
    }

    .about p,
    .interest p {
        font-size: 0.8rem;
    }
}
